.cs-product-area .cs-product-content p span del,
.cs-product-area .cs-product-content p span del span {
    color: #fff;
}
.cs-product-area .cs-product-content p span ins {
    text-decoration: none;
    margin-left: 5px;
}
a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart.btn.btn-default.cs-my-btn.added {
    left: 33px;
}

/*Wish List */
.tinv-wishlist .tinvwl_add_to_wishlist_button.tinvwl-icon-heart-plus.no-txt, .tinv-wishlist .tinvwl_add_to_wishlist_button.tinvwl-icon-heart.no-txt, a.wishlist_products_counter.top_wishlist-heart-plus.no-txt {
    position: relative;
    width: 30px;
    height: 25px;
    vertical-align: bottom;
}
.tinv-wraper.woocommerce.tinv-wishlist.tinvwl-shortcode-add-to-cart{
	float: left;
    height: 21px;
    overflow: hidden;
}
.tinv-wishlist .tinvwl_add_to_wishlist_button.tinvwl-icon-heart.tinvwl-product-in-list.no-txt:before {
    margin-top: -7px;
}
.woocommerce img, .woocommerce-page img {
    margin: 0 auto;
    display: block;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
 
    width: 20px;
    height: 20px;
    background-color: #f68a15;
    border-radius: 500px;
    top: -7px;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content{
    background-color: rgba(0, 0, 0, 0.07);
}
.woocommerce .widget_price_filter .price_slider_amount .button {
    font-size: 1.15em;
    float: right;
    margin-top: 0;
    padding: 9px 22px;
    line-height: 20px;
    font-family: 'Roboto Slab', serif;
    background: #333;
}
.woocommerce .widget_price_filter .price_slider_amount .button:hover{
    background-color: #f68a15;
}
.price_slider_wrapper .price_label {
    text-align: left;
}
section.cs-product-area .sidebar .sidebar-widget {
    margin-top: 30px;
}
.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img {
    float: left;
    margin-left: 0;
    width: 80px;
    height: auto;
    box-shadow: none;
    margin-right: 30px;
}

ul.product_list_widget li {
    color: #bcbcbc;
    font-family: 'Roboto Slab',serif;
    font-size: 14px;
    margin-bottom: 20px !important;
    position: relative;
}
ul.product_list_widget li a{position: relative;}
ul.product_list_widget li a:before{
    content: '';
    width:80px;
    height: 80px;
    left: 0;
    top: 0;
    position: absolute;
    opacity: 0;
    background-color: rgba(0,0,0,0.3);
}
ul.product_list_widget li:hover a:before{
    opacity: 1;
}

ul.product_list_widget ins{text-decoration: none; margin-left: 5px;}
.woocommerce a.remove:hover{background-color: transparent;}
form.woocommerce-cart-form td:first-child, form.woocommerce-cart-form td:nth-child(2) {
    text-align: left;
}
form.woocommerce-cart-form thead tr:first-child td:nth-child(2),
form.woocommerce-cart-form td {
    text-align: center;
}
div.woocommerce .woocommerce-message {
    border-top-color: #F68A15;
}
div.woocommerce .woocommerce-message::before{color:#F68A15;}
.cs-couponbox div.form-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
section.cs-calculate-area .btn-default.focus, section.cs-calculate-area .btn-default:focus
{
    background-color: #f68a15;
    border-color: #f68a15;
    color: #fff;
}


.woocommerce form.checkout_coupon{
    border-radius: 0;
}

.woocommerce #review_form #respond textarea,
select#calc_shipping_state,
.woocommerce form .form-row.woocommerce-validated .select2-container,
.input-text {
    border: 1px solid #e9e9e9;
    border-radius: 0;
    background-color: #f6f7f3;
    font-family: 'Roboto Slab', serif;
    display: block;
    width: 100%;
    height: 50px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;

    background-image: none;

    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.woocommerce form .form-row.woocommerce-validated input.input-text, .woocommerce form .form-row.woocommerce-validated select{
    border-color: #f68a15;
}
.select2-container--default .select2-selection--single {
    background-color: transparent;
    border: 0px solid #aaa; 
    border-radius: 0px;
}
.select2-container--default .select2-results__option--highlighted[aria-selected]{
    background-color: #f68a15;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 50px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 35px;
}
.checkout .col-1, .checkout .col-2 {
    border: 1px solid #ddd;
    padding: 25px;
}
h3#order_review_heading{margin-top:50px;}
table.shop_table.woocommerce-checkout-review-order-table thead tr th {
    border-width: 0px;
}
.woocommerce table.shop_table{border-radius: 0;}
#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment {
    background: transparent;
    border-radius: 0px;
    border-width: 1px;
    border-color: #ddd;
    border-style: solid;
    margin-top: 30px;
}
#add_payment_method #payment div.payment_box, .woocommerce-cart #payment div.payment_box, .woocommerce-checkout #payment div.payment_box {
    color: #fff;
}
#add_payment_method #payment div.payment_box::before, .woocommerce-cart #payment div.payment_box::before, .woocommerce-checkout #payment div.payment_box::before{
    border-bottom-color: #f68a15;
}
.woocommerce .star-rating span::before{
    color:#FFC41B;
}
.woocommerce ins,
p.cs-price ins {
    text-decoration: none;
    margin-left: 5px;
    color: #FFC41B;
}
.woocommerce div.product .woocommerce-product-rating {
    margin-bottom: 10px;
}
.mt0{margin-top:0 !important;}
.woocommerce .quantity .qty{width: 100%;}
body.single-product .tinv-wishlist .tinvwl_add_to_wishlist_button.tinvwl-icon-heart.icon-black:before, 
body.single-product a.wishlist_products_counter.top_wishlist-heart.top_wishlist-black:before {
    width: 19px;
    height: 13px;
    background-size: 37px;
}
body.single-product .tinv-wishlist .tinvwl_add_to_wishlist_button.tinvwl-icon-heart.no-txt:before, 
body.single-product a.wishlist_products_counter.top_wishlist-heart.no-txt:before {
    margin-top: -8px;
    margin-left: -6px;
}

body.single-product .tinv-wishlist .tinvwl_add_to_wishlist_button.tinvwl-icon-heart.tinvwl-product-in-list.icon-black:before {
    background-position: 0px -16px;
}
form.woocommerce-cart-form input.input-text.qty.text.form-control {
    margin: 0;
}
form.woocommerce-cart-form td.product-quantity.cs-pad p {
    margin-top: 20px;
}
body.single-product .cs-add-to-cart a span{margin-right:2px; margin-left:7px;}
body.single-product .cs-add-to-cart sup {
    margin-right: 5px;
}
h2.woocommerce-Reviews-title {
    font-size: 19px;
    margin-bottom: 15px;
}
body.single-product div#woocommerce_product_search-2, body.single-product div#woocommerce_product_search-2 > div {
    margin-top: 0;
}
.woocommerce .star-rating{
    float: none;
    margin:0 auto;
}
ul.product_list_widget .star-rating {
    margin: unset;
}
section.defaultCotnent > div.container-fluid {
    padding-top: 0;
}